html {
    background-color: #4D2B2C;
}

body {
    background-color: #518663;
    width: 1400px;
    margin: 20px auto;
    border-radius: 15px;
}

header {
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: xx-large;
}

nav {
    background-color: #375c44;
    padding: 20px;
    text-align: center;
}

nav a {
    color: black;
    font-size: 30px;
    margin: 0 10px;
}

nav a:hover {
    color: #7255CE;
    text-decoration: none;
}

main {
    padding: 40px;
}

main img {
    display: block;
    margin: 20px auto;
}

p {
    font-size: larger;
}

ul {
    font-size: large;
}

a {
    color: black;
}

a:hover {
    color: #7255CE;
}

h1,
h2,
h3 {
    text-align: center;
    font-size: x-large;
    color: #ffd64f;
}

footer {
    text-align: center;
    border-radius: 0 0 15px 15px;
}